RSPODemo/RSPODemo/bin/
RSPODemo/RSPODemo/obj/
RSPODemo/OPCCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RSPODemo/OPCCore/obj/
RSPODemo/OPCCore/bin/
RSPODemo/packages/EntityFramework.6.3.0/.signature.p7s
RSPODemo/packages/EntityFramework.6.3.0/EntityFramework.6.3.0.nupkg
RSPODemo/packages/EntityFramework.6.3.0/build/EntityFramework.props
RSPODemo/packages/EntityFramework.6.3.0/build/EntityFramework.targets
RSPODemo/packages/EntityFramework.6.3.0/build/Microsoft.Data.Entity.Build.Tasks.dll
RSPODemo/packages/EntityFramework.6.3.0/buildTransitive/EntityFramework.props
RSPODemo/packages/EntityFramework.6.3.0/buildTransitive/EntityFramework.targets
RSPODemo/packages/EntityFramework.6.3.0/content/net40/App.config.install.xdt
RSPODemo/packages/EntityFramework.6.3.0/content/net40/App.config.transform
RSPODemo/packages/EntityFramework.6.3.0/content/net40/Web.config.install.xdt
RSPODemo/packages/EntityFramework.6.3.0/content/net40/Web.config.transform
RSPODemo/packages/EntityFramework.6.3.0/lib/net40/EntityFramework.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/net40/EntityFramework.SqlServer.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/net40/EntityFramework.SqlServer.xml
RSPODemo/packages/EntityFramework.6.3.0/lib/net40/EntityFramework.xml
RSPODemo/packages/EntityFramework.6.3.0/lib/net45/EntityFramework.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/net45/EntityFramework.SqlServer.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/net45/EntityFramework.SqlServer.xml
RSPODemo/packages/EntityFramework.6.3.0/lib/net45/EntityFramework.xml
RSPODemo/packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.SqlServer.dll
RSPODemo/packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.SqlServer.xml
RSPODemo/packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.xml
RSPODemo/packages/EntityFramework.6.3.0/tools/about_EntityFramework6.help.txt
RSPODemo/packages/EntityFramework.6.3.0/tools/EntityFramework6.PS2.psd1
RSPODemo/packages/EntityFramework.6.3.0/tools/EntityFramework6.PS2.psm1
RSPODemo/packages/EntityFramework.6.3.0/tools/EntityFramework6.psd1
RSPODemo/packages/EntityFramework.6.3.0/tools/EntityFramework6.psm1
RSPODemo/packages/EntityFramework.6.3.0/tools/init.ps1
RSPODemo/packages/EntityFramework.6.3.0/tools/install.ps1
RSPODemo/packages/EntityFramework.6.3.0/tools/net40/any/ef6.exe
RSPODemo/packages/EntityFramework.6.3.0/tools/net40/any/ef6.pdb
RSPODemo/packages/EntityFramework.6.3.0/tools/net40/win-x86/ef6.exe
RSPODemo/packages/EntityFramework.6.3.0/tools/net40/win-x86/ef6.pdb
RSPODemo/packages/EntityFramework.6.3.0/tools/net45/any/ef6.exe
RSPODemo/packages/EntityFramework.6.3.0/tools/net45/any/ef6.pdb
RSPODemo/packages/EntityFramework.6.3.0/tools/net45/win-x86/ef6.exe
RSPODemo/packages/EntityFramework.6.3.0/tools/net45/win-x86/ef6.pdb
RSPODemo/packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.dll
RSPODemo/packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.pdb
RSPODemo/packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
RSPODemo/packages/System.Data.SQLite.1.0.112.2/.signature.p7s
RSPODemo/packages/System.Data.SQLite.1.0.112.2/System.Data.SQLite.1.0.112.2.nupkg
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/.signature.p7s
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/System.Data.SQLite.Core.1.0.112.2.nupkg
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net20/System.Data.SQLite.Core.targets
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net20/x64/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net20/x86/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net40/System.Data.SQLite.Core.targets
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net40/x64/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/build/net40/x86/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net20/System.Data.SQLite.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net20/System.Data.SQLite.dll.config
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net20/System.Data.SQLite.xml
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net40/System.Data.SQLite.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net40/System.Data.SQLite.dll.config
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/net40/System.Data.SQLite.xml
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.0/System.Data.SQLite.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.0/System.Data.SQLite.dll.config
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.0/System.Data.SQLite.xml
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.1/System.Data.SQLite.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.1/System.Data.SQLite.dll.config
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/lib/netstandard2.1/System.Data.SQLite.xml
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/linux-x64/native/netstandard2.0/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/linux-x64/native/netstandard2.1/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/osx-x64/native/netstandard2.0/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/osx-x64/native/netstandard2.1/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/win-x64/native/netstandard2.0/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/win-x64/native/netstandard2.1/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/win-x86/native/netstandard2.0/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.Core.1.0.112.2/runtimes/win-x86/native/netstandard2.1/SQLite.Interop.dll
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/.signature.p7s
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/System.Data.SQLite.EF6.1.0.112.2.nupkg
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/content/net40/app.config.install.xdt
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/content/net40/app.config.transform
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/content/net40/web.config.install.xdt
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/content/net40/web.config.transform
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/lib/net40/System.Data.SQLite.EF6.dll
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/lib/netstandard2.1/System.Data.SQLite.EF6.dll
RSPODemo/packages/System.Data.SQLite.EF6.1.0.112.2/tools/net40/install.ps1
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/.signature.p7s
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/System.Data.SQLite.Linq.1.0.112.2.nupkg
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/content/net20/app.config.transform
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/content/net20/web.config.transform
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/content/net40/app.config.transform
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/content/net40/web.config.transform
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/lib/net20/System.Data.SQLite.Linq.dll
RSPODemo/packages/System.Data.SQLite.Linq.1.0.112.2/lib/net40/System.Data.SQLite.Linq.dll
